<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fiche employee</title>
</head>
<body>
<h2>Fiche employée</h2>

<table>

    <tr>
        <td>Nom</td>
        <td th:text="${employee.name}"></td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td th:text="${employee.address}"></td>
    </tr>
    <tr>
        <td>email</td>
        <td th:text="${employee.email}"></td>
    </tr>
    <tr>
        <td>Téléphone</td>
        <td th:text="${employee.phone}"></td>
    </tr>
    <tr>
        <td>Fonction</td>
        <td th:text="${employee.fonction}"></td>
    </tr>
</table>
</body>
</html>